@use 'variaveis';

.menu-bloco{
    font-family: variaveis.$fonte;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    .menu-botao-flutuante{
        display: flex;
        justify-content: right;

     
        .input-botao-flutuante{
            display: none;       
        }     

        .input-botao-flutuante:checked~.lista-menu-img{
            display: block;
        }
        
        .lista-menu-img{
             display: none;     
         }
        
        
    }

    .menu{
        padding: 1em;
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 12px 12px 0px 0px;
        box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
        
        
        .menu-componentes{
            display: flex;
            align-items: center;
            text-align: center;
            column-gap: 1rem;
            

            .menu-links{
                text-decoration: none;
                color: variaveis.$cinza-claro;
                font-weight: 400;
                font-size: 12px;

                span{
                    padding: 10%;
                }

                .menu-consulta-texto{
                    color: variaveis.$azul;
                }

                img{
                    margin: 0.2em;
                }

            }
        }
    }
    
    
}